@model IEnumerable<UniversityCourseResultManagementSystem.Models.Department>
@*@model UniversityCourseResultManagementSystem.Models.Department*@

@{
    ViewBag.Title = "University Department List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>View All Departments</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Code)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Code)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
    </tr>
}

</table>
