 @{
    ViewBag.Title = "Home Page";
}
<link href="~/Content/homePageDesign.css" rel="stylesheet" />
<script src="~/Scripts/jquery-3.1.0.min.js"></script>
<script src="~/Scripts/prefixfree.js"></script>
<style>
    
</style>
<div>    
    <div class="block black">
        <h2 style="padding-top:10%;">Univesity Course and Result Management Sytem</h2>
        <p class="lead">This web application is only for using one semester only of a university</p>
    </div>    
    <div class="block blue">
        
    </div>
    <div class="block black">
        <div style ="float:left;width:50%">
            <h2>Group-AIM</h2>
        </div>
        <div style="float:left;text-align:left">
            <ol>
                <li>Md. Abdul Alim (Team Lead)</li>
                <li>Md. Mominul Islam</li>
                <li>Md. Alamgir </li>
                <li>Mohammad Iqbal Mahmud</li>
            </ol>
        </div>
    </div>
</div>
<script>

</script>