
@{
    ViewBag.Title = "UnAssignCourses";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string message = ViewBag.Message ?? "";
    string errorMessage = ViewBag.ErrorMessage ?? "";
}

<h2>UnAssign All Courses</h2><br />
<h4 style="color:forestgreen">@message</h4><h4 style="color:red">@errorMessage</h4>
<hr />

@using (Html.BeginForm("UnAssignCourses", "Course", FormMethod.Post, new { id = "unassignCourses" }))
{
    <div class="form-horizontal">
        <div class="form-control">
            <div class="col-md-offset-5 col-md-10">
                <input type="submit" class="btn btn-danger" value="Unassign Courses" onclick="return confirm('Are you Sure you unassign all courses?')" />
            </div>
        </div>
    </div>

}