body{
        max-width:1920px;
        margin:auto;
        font-family:Arial;
        font-size:24px;
        line-height:30px;
        color:#000;
    }
    div div{
        box-sizing:border-box;
    }
    .block{
        display:block;
        width:100%;
        height:200px;
        border:0px solid transparent;
        position:relative;
        text-align:center;
    }
    .block.black{
        background:#000000;
        color:white;
    }
    .block.blue{
        height:50px;
        /*background:blue;*/
    }